<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sashyla.css') }}"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="error">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</body>
</html>